

.task-block,
.result-block {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
    padding-inline: 100px;
    align-content: center;
    justify-items: center;
}

.task-description {
    text-align: center;
}